* {
    box-sizing: border-box;
}

body {
    background-color: #939393;
}

canvas {
    width: 720px;
    height: 480px;
    display: block;
    margin: 30px;
    border: 1px solid #3b3d42;
    background-color: black;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    
    image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
}